<div class="header">
    <!--<ul class="nav nav-pills pull-right">-->
    <!--<li class="active"><a ng-href="#">Home</a></li>-->
    <!--<li><a ng-href="#">Config</a></li>-->
    <!--</ul>-->
    <img src="images/hedwig-logo-small.png">
    <img src="images/hedwig-mail.png">
    <span>The simple social network</span>
    <span>- less realtime, less content</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h4>Owlery</h4>
            You don't have any owls
        </div>
        <div class="col-xs-6">
            <h4>Outgoing Owls</h4>
            <a href="#" editable-text="user.name">{{ user.name || "new message" }}</a>
        </div>
    </div>
</div>

<div class="row marketing">
    <h4>Wizards & Witches:</h4>
    Your Email: (todo: verify ownership of email address & FB login)
    <input ng-model="useremail"><br>
    Email me if the Owlery is messy <select>
        <option>yes</option>
        <option>no</option>
    </select>
    <h4>Send Groups (comma seperated)</h4>
    group1:
    <input ng-list ng-model="group1">{{group1}}<br>
    group2:
    <input ng-list ng-model="group2">{{group2}}<br>
    group3:
    <input ng-list ng-model="group3">{{group3}}<br>

</div>

<!--<div class="footer">-->
<!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
<!--</div>-->
